@font-face {
    font-family: 'Europa';
    src: url('Europa-Light.woff2') format('woff2'),
        url('Europa-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Europa';
    src: url('Europa-Regular.woff2') format('woff2'),
        url('Europa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Europa';
    src: url('Europa-Bold.woff2') format('woff2'),
        url('Europa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Europa';
    src: url('Europa-Regular.woff2') format('woff2'),
        url('Europa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Europa';
    src: url('Europa-Bold.woff2') format('woff2'),
        url('Europa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Europa';
    src: url('Europa-Italic.woff2') format('woff2'),
        url('Europa-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Europa';
    src: url('Europa-BoldItalic.woff2') format('woff2'),
        url('Europa-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Europa';
    src: url('Europa-LightItalic.woff2') format('woff2'),
        url('Europa-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

