/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
/* GENERAL */
html, body{
	height: 100%;
	overflow-x: hidden;
}
/* html {
	overflow-x: hidden;
} */
img {
	max-width: 100%;
}
.body-no-top{
	margin-top: 0;
}
.clear {
	clear: both;
}
body {
	font-family: 'Europa';
	color: #162f56;
}
h1 {
	font-size: 3.44em;
}
h3 {
	font-size: 1.875em;
}
h4, .size-4{
	font-size: 1.25em;
}
.size-small {
	font-size: .75em;
}
.light {
	font-weight: 300;
}
strong {
	font-weight: 700;
}
.special-font {
	font-family: 'Raleway', sans-serif;
}
.container {
	max-width: 1020px;
}
.link-button {
	border: 0;
    background-color: transparent;
    padding: 0;
}
a:hover {
	text-decoration: none;
}
body > .container {
	position: relative;
}
body.font-small {
	font-size: 14px;
}
body.font-large {
	font-size: 18px;
}
.bg-white {
	background-color: white;
}
.bg-default {
	background-color: #f6f0ed;
}
.bg-1 {
	background-color: #97d4d6;
}
.bg-2 {
	background-color: #805981;
}
.bg-3 {
	background-color: #5a90c4;
}
.bg-4 {
	/* background-color: #d49a9e; */
	background-color: #eca6ab;
}
.bg-5 {
	background-color: #e6b75b;
}
.bg-6 {
	background-color: #00a4ad;
}
.bg-7 {
	background-color: #953c56;
}
.bg-8 {
	background-color: #162f55;
}
.bg-9 {
	background-color: #8dcdd4;
}
.accent-white {
	color: #FFFFFF;
}
.accent-1, a.accent-1:hover {
	color: #e95b59;
}
.accent-2 {
	color: #e5b75a;
}
.accent-3 {
	color: #97d3d6;
}
.accent-4{
	color: #5a87b3
}
.accent-5 {
	color: #00a4ac;
}
.accent-6 {
	color: #7f5980;
}
.accent-7 {
	color: #e48187;
}
.accent-8, a{
	color: #162f55;
}
.accent-9 {
	color: #67d0db;
}
.accent-10 {
	color: #805981;
}
.accent-11 {
	color: #953c56;
}
.accent-12 {
	color: #97d4d6;
}
.required {
	color: #e95c5a;
}
.list-none {
	list-style: none;
	padding-left: 0;
}
.list-none li {
	margin-bottom: 5px;
}
/* HEADER */
header {
	position: relative;
	margin-top: 20px;
}
/* .right-menu {
	margin-top: 85px;
} */
/* .breadcrumb-wrapper {
	margin-top: 55px;
} */
.site-logo img{
    max-width: 200px;
    height: auto;
}
.font-size-changer .small {
	font-size: 13px !important;
}
.font-size-changer .default {
	font-size: 15px !important;
}
.font-size-changer .large {
	font-size: 18px !important;
}
.font-size-changer button{
	color: #5b6b84;
	font-weight: 300;
	min-width: auto;
	font-weight: 700;
}
.breadcrumbs{
	font-size: .75em;
    position: inherit;
}
.breadcrumbs i {
	font-weight: .375em;
	padding: 0 2px;
}
.breadcrumbs i, .breadcrumbs span {
	font-weight: 700;
}
.white .breadcrumbs, .white .breadcrumbs a, .white .font-size-changer button{
	color: #FFFFFF;
}
.search-btn img,
.cart-btn img{
	max-width: 40px;
}
.cart-btn {
	position: relative;
}
.cart-btn span.count{
	font-size: 13px;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    border: 1px solid #e95b59;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
	left: 100%;
	color: #e95b59;
}
.white .cart-btn span.count {
	color: #FFFFFF;
	border-color: #FFFFFF;
}
/* PAGES */
main {
	position: relative;
	z-index: 5;
}
.home-bg{
	position: absolute;
	height: 100vh;
    width: 100%;
	background-image: url(../img/home-bg.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
#home .img-1, #home .img-2, #home .img-3 {
	position: absolute;
}
#home .img-1 {
    bottom: -110px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#home .img-2 {
	right: 100%;
	top: 100%;
	margin-top: -25px;
    margin-right: -5px;
}
#home .img-3{
	left: 100%;
    top: 70px;
    margin-left: -30px;
}
.content-wrapper {
	padding-top: 20px;
	padding-bottom: 60px;
}
.content-wrapper img {
	max-width: 100%;
}
.content-wrapper .container,
.content-wrapper [class*="col-"] {
	padding-right: 25px;
	padding-left: 25px;
}
.content-wrapper .row{
	margin-left: -25px;
	margin-right: -25px;
}

.style-1 .content-wrapper {
	padding-bottom: 60px;
	max-width: 100%;
}
.title-section {
	position: relative;
	min-height: 90px;
	overflow: hidden;
	margin-top: -20px;
}
.title-section h1{
	position: absolute;
    text-transform: uppercase;
	line-height: .75;
    left: -3px;
	top: 0px;
	margin-bottom: 0;
}
.title-section h1 .spacer {
	padding-left: 120px;
}
.style-1 .container {
	max-width: 755px;
}
#faq .style-1 .container {
	max-width: 850px;
}
.style-1 p {
	margin-bottom: 20px;
	line-height: 1.3;
}
.style-1 p:last-child{
	margin-bottom: 0;
}
a.back-btn{
	position: relative;
    padding-left: 30px;
    line-height: 22px;
    display: block;
    right: 65px;
    top: 20px;
    float: right;
}
a.back-btn::before{
	content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-top: 11px solid transparent;
    border-right: 20px solid #162f56;
    border-bottom: 11px solid transparent;
}
a.back-btn.accent-white::before {
	border-right-color: #FFFFFF;
}
#home .content-wrapper {
	padding-top: 0;
	padding-bottom: 0;
}
.home-links .box {
	position: relative;
	overflow: hidden;
	min-height: 230px;
}
.home-links .box a{
	display: block;
    height: 100%;
}
.home-links .box a:before{
	content: '';
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
	z-index: 10;
	visibility: hidden;
}
.home-links .box:hover a:before {
	visibility: visible;
}
.home-links .box span.no{
	font-family: 'Europa';
    font-size: 220px;
    position: absolute;
    line-height: 145px;
}
.home-links .box span.text{
	font-family: 'Europa';
    max-width: 150px;
    display: inline-block;
    color: #FFFFFF;
	position: absolute;
	z-index: 15;
	line-height: 1.2;
}
.font-large .home-links .box span.text {
	max-width: 170px;
}
.home-links .box.bg-5 span.text {
	max-width: 150px;
}
.home-links .box.bg-4 span.text, .home-links .box.bg-7 span.text {
	max-width: 130px;
}
.home-links .bg-1 span.no {
	bottom: -10px;
    left: -45px;
}
.home-links .bg-2 span.no {
	top: -5px;
    left: -25px;
}
.home-links .bg-3 span.no{
	right: -20px;
	bottom: -5px;
}
.home-links .bg-4 span.no{
	right: 30px;
	bottom: -10px;
}
.home-links .bg-5 span.no{
	top: 20px;
	left: -55px;
}
.home-links .bg-6 span.no{
	top: 0px;
    left: -35px;
}
.home-links .bg-7 span.no{
	bottom: -10px;
    left: 60px;
}
.home-links .bg-8 span.link{
	font-size: 2.5em;
	color: #ea9fa0;
	position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 80px;
}
.text-top-left {
	left: 10px;
    top: 10px;
}
.text-bottom-left {
	left: 10px;
    bottom: 10px;
}
#guide .bg-image{
	position: absolute;
    right: 100%;
	bottom: 0;
	height: 500px;
    width: 465px;
	background-image: url(../img/tree.png);
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#login {
	margin-top: 0;
}
#login .left-side {
	background-image: url('../img/login-bg.jpg');
	background-size: cover;
	background-position: center bottom;
	height: 100vh;
}
.login-wrapper{
	padding-left: 40px;
    padding-right: 40px;
}
.login-wrapper h3 {
	text-transform: uppercase;
}
.accounts-list{
	list-style: none;
	padding-left: 0;
}
.accounts-list li{
	margin: 15px 0;
}
.accounts-list li h4 {
	display: inline-block;
}
span.accounts-box {
    width: 65px;
    height: 65px;
    background-color: #7e5d7f;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}
.accounts-list li:nth-child(2) span.accounts-box{
	background-color: #e6b75b;
}
.accounts-list li:nth-child(3) span.accounts-box{
	background-color: #00a4ad;
}
#contact-us .title-section h1 .spacer {
	padding-left: 195px;
}
#contact-us .content-wrapper {
	padding-bottom: 40px;
}
.contact-details li {
	position: relative;
	padding-left: 50px;
	margin-bottom: 35px;
	line-height: 1;
}
.contact-details li.number a, .contact-details li.email a {
	display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contact-details li:before {
	content: '';
    width: 30px;
    height: 30px;
    display: block;
    background-image: url(../img/address.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}
.contact-details li.number:before {
	background-image: url(../img/contact.png);
}
.contact-details li.email:before {
	background-image: url(../img/email.png);
}
.social-media {
	padding-top: 25px;
}
.social-media li {
	display: inline-block;
	font-size: 0;
}
.social-media li:not(last-child) {
	margin-right: 10px;
}
.social-media img {
	max-width: 30px;
}
.section-content .content-wrapper {
	overflow: hidden;
}
.section-no {
	font-size: 400px;
    line-height: .75;
    letter-spacing: 0;
    margin-top: -30px;
	margin-right: -50px;
	position: absolute;
	right: 25px;
	top: 0;
}
.section-content .content-wrapper [class*="col-"].content  {
	min-height: 550px;
}
.list-style-1 li {
	text-transform: uppercase;
	margin-bottom: 10px;
	position: relative;
}
.list-style-1 li a {
	padding-right: 35px;
    position: relative;
}
.list-style-1.module-list li {
	text-transform: none;
	padding-left: 50px;
	margin-bottom: 20px;
}
.list-style-1.module-list li:last-child {
	margin-bottom: 0;
}
.list-style-1.module-list li:after,
.list-style-1 li a:after {
	content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-left: 12px solid #e95b59;
    border-bottom: 8px solid transparent;
}
.list-style-1.module-list li:after {
	border-left-color: #162f55;
	right: inherit;
    left: 0;
}
.section-img {
	position: absolute;
}
#section-1 .section-img {
	width: 120px;
    bottom: -60px;
    right: 60px;
}
#section-2 .section-img {
	width: 390px;
    bottom: 0;
    right: 0;
}
#section-3 .section-img {
	width: 180px;
    bottom: 0;
    right: 60px;
}
#section-4 .section-img {
	width: 130px;
    bottom: 0;
    right: 80px;
}
#section-5 .section-img {
	width: 60px;
    bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-left: 70px;
}
#section-6 .section-img {
	width: 220px;
    bottom: 0;
    right: 25px;
}
#section-7 .section-img {
	width: 220px;
    bottom: 0;
    right: 50px;
}
.section-title {
	text-transform: uppercase;
    border-bottom: 1px solid #162f55;
    padding-bottom: 15px;
    padding-left: 25px;
	margin-left: -25px;
	margin-bottom: 15px;
}
#section-2 .section-img,
#section-4 .section-img,
#section-6 .section-img {
	bottom: -60px;
}
.menu-list {
	min-height: 500px;
}
.menu-list .block:not(:last-child){
	margin-bottom: 35px;
}
.menu-list .block p {
	margin-bottom: 5px;
}
.menu-list .block a{
	font-size: .75em;
    display: inline-block;
	padding-right: 15px;
	position: relative;
}
.menu-list .block a.view {
	margin-right: 60px;
}
.menu-list .block a.view:after{
	content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-left: 9px solid #162f56;
    border-bottom: 5px solid transparent;
}
a.apply {
	padding-right: 30px;
}
a.apply:after{
	content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    width: 8px;
    background-color: #162f56;
    border-radius: 50%;
    border: 1px solid #d0cfd3;
}
ul.navigation {
	font-size: .75em;
}
ul.navigation li {
	display: inline-block;
	margin: 0 2px;
}
ul.navigation li a{
	color: #868fa1;
}
ul.navigation li.next, ul.navigation li.prev {
	position: relative;
}
ul.navigation li.next a, ul.navigation li.prev a {
	display: inline-block;
    width: 10px;
    height: 14px;
}
ul.navigation li.next a:before{
	content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-left: 9px solid #162f56;
    border-bottom: 5px solid transparent;
}
ul.navigation li.prev a:before{
	content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-right: 9px solid #162f56;
    border-bottom: 5px solid transparent;
}
.details-accordions {
	margin-left: -25px;
}
.accordion-title {
	display: block;
	background-color: transparent;
	position: relative;
	font-size: 1.25em;
	font-weight: 700;
	padding: 25px;
}
.accordion-title:hover {
	color: #162f56
}
.accordion-title.no-padding {
	padding: 0;
}
/* .accordion-title:before, */
.accordion-title:after{
	content: '';
    position: absolute;
    right: 55px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-left: 15px solid #162f56;
    border-bottom: 10px solid transparent;
}
.accordion-title[aria-expanded="true"] {
	color: #FFFFFF;
	background-color: #162f55;
}
.accordion-title[aria-expanded="true"]:after{
	border-right: 10px solid transparent;
    border-top: 15px solid #ffffff;
	border-left: 10px solid transparent;
	border-bottom: initial;
}
.accordion-body{
	background-color: rgba(22, 47, 86, .17);
	line-height: 1.3;
}
.accordion-body.no-bg{
	background-color: transparent;
}
.accordion-body .content {
	padding: 15px 25px;
}
.accordion-body .content :last-child{
	margin-bottom: 0;
}
.accordion-title.no-bg-active[aria-expanded="true"] {
    background-color: transparent;
	color: #162f56;
}
.accordion-title.no-bg-active[aria-expanded="true"]:after {
	border-top-color: #162f55;
}
.details-accordions .accordion-title {
	font-weight: 700;
	padding-right: 90px;
	text-transform: uppercase;
}
.details-accordions .accordion-title p {
	text-transform: none;
	font-weight: 300;
}
.details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
	color: #97d4d6;
}

.details-accordions > .accordion-block .accordion-title {
	padding-right: 110px;
}
.details-accordions > .accordion-block .accordion-title:after {
	right: 85px;
}
#module-area-specific.accordion-body {
    background-color: #FFF;
}

.modules-accordion > .accordion-block > .accordion-title:after {
	right: 40px;
}
.modules-accordion > .accordion-block .accordion-title[aria-expanded="true"]:after {
	border-top-color: #162f55;
}
.modules-accordion > .accordion-block > .accordion-body {
	/* background-color: rgba(208, 207, 211, .17); */
	background-color: #FFF;
}
/* SECTION 1 ACCORDION */
.modules-accordion > .accordion-block > .accordion-title {
	font-weight: 400;
	text-transform: uppercase;
	padding-right: 60px;
	background-color: rgba(151, 212, 214, .20);
}
.modules-accordion > .accordion-block .accordion-title[aria-expanded="true"] {
	color: #162f56;
	background-color: rgba(151, 212, 214, .40);
}
.module-details-accordions > .accordion-block > .accordion-title {
	background-color: rgba(151, 212, 214, .10);
	text-transform: none;
    font-weight: 400;
}
.module-details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
	background-color: rgba(151, 212, 214, .30);
}
.module-details-accordions > .accordion-block > .accordion-body {
	background-color: rgba(151, 212, 214, .20);
}
/* SECTION 2 ACCORDION */
#section-2 .details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
    color: #805981;
}
#section-2 .modules-accordion > .accordion-block > .accordion-title {
	/* background-color: rgba(128, 89, 129, .50); */
	background-color: rgba(128, 89, 129, .20);
}
#section-2 .modules-accordion > .accordion-block .accordion-title[aria-expanded="true"] {
    color: #162f55;
    background-color: rgba(128, 89, 129, .40);
}
#section-2 .module-details-accordions > .accordion-block > .accordion-title {
	background-color: rgba(128, 89, 129, .10);
}
#section-2 .module-details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
    /* background-color: rgba(128, 89, 129, .70); */
    background-color: rgba(128, 89, 129, .30);
}
#section-2 .module-details-accordions > .accordion-block > .accordion-body {
    /* background-color: rgba(128, 89, 129, .50); */
    background-color: rgba(128, 89, 129, .20);
}
/* END SECTION 2 ACCORDION */
/* SECTION 3 ACCORDION */
#section-3 .details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
    color: #5a90c4;
}
#section-3 .modules-accordion > .accordion-block > .accordion-title {
	background-color: rgba(90, 144, 196, .20);
}
#section-3 .modules-accordion > .accordion-block .accordion-title[aria-expanded="true"] {
    color: #162f55;
    background-color: rgba(90, 144, 196, .40);
}
#section-3 .module-details-accordions > .accordion-block > .accordion-title {
	background-color: rgba(90, 144, 196, .10);
}
#section-3 .module-details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
    background-color: rgba(90, 144, 196, .30);
}
#section-3 .module-details-accordions > .accordion-block > .accordion-body {
    background-color: rgba(90, 144, 196, .20);
}
/* END SECTION 3 ACCORDION */
/* SECTION 4 ACCORDION */
#section-4 .details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
    color: #eca6ab;
}
#section-4 .modules-accordion > .accordion-block > .accordion-title {
	background-color: rgba(236, 166, 171, .20);
}
#section-4 .modules-accordion > .accordion-block .accordion-title[aria-expanded="true"] {
    color: #162f55;
    background-color: rgba(236, 166, 171, .40);
}
#section-4 .module-details-accordions > .accordion-block > .accordion-title {
	background-color: rgba(236, 166, 171, .10);
}
#section-4 .module-details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
    background-color: rgba(236, 166, 171, .30);
}
#section-4 .module-details-accordions > .accordion-block > .accordion-body {
    background-color: rgba(236, 166, 171, .20);
}
/* END SECTION 4 ACCORDION */
/* SECTION 5 ACCORDION */
#section-5 .details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
    color: #e6b75b;
}
#section-5 .modules-accordion > .accordion-block > .accordion-title {
	background-color: rgba(230, 183, 91, .20);
}
#section-5 .modules-accordion > .accordion-block .accordion-title[aria-expanded="true"] {
    color: #162f55;
    background-color: rgba(230, 183, 91, .40);
}
#section-5 .module-details-accordions > .accordion-block > .accordion-title {
	background-color: rgba(230, 183, 91, .10);
}
#section-5 .module-details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
    background-color: rgba(230, 183, 91, .30);
}
#section-5 .module-details-accordions > .accordion-block > .accordion-body {
    background-color: rgba(230, 183, 91, .20);
}
/* END SECTION 5 ACCORDION */
/* SECTION 6 ACCORDION */
#section-6 .details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
    color: #00a4ad;
}
#section-6 .modules-accordion > .accordion-block > .accordion-title {
	background-color: rgba(0, 164, 173, .20);
}
#section-6 .modules-accordion > .accordion-block .accordion-title[aria-expanded="true"] {
    color: #162f55;
    background-color: rgba(0, 164, 173, .40);
}
#section-6 .module-details-accordions > .accordion-block > .accordion-title {
	background-color: rgba(0, 164, 173, .10);
}
#section-6 .module-details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
    background-color: rgba(0, 164, 173, .30);
}
#section-6 .module-details-accordions > .accordion-block > .accordion-body {
    background-color: rgba(0, 164, 173, .20);
}
/* END SECTION 6 ACCORDION */
/* SECTION 7 ACCORDION */
#section-7 .details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
    color: #953c56;
}
#section-7 .modules-accordion > .accordion-block > .accordion-title {
	background-color: rgba(149, 60, 86, .20);
}
#section-7 .modules-accordion > .accordion-block .accordion-title[aria-expanded="true"] {
    color: #162f55;
    background-color: rgba(149, 60, 86, .40);
}
#section-7 .module-details-accordions > .accordion-block > .accordion-title {
	background-color: rgba(149, 60, 86, .10);
}
#section-7 .module-details-accordions > .accordion-block > .accordion-title[aria-expanded="true"] {
    background-color: rgba(149, 60, 86, .30);
}
#section-7 .module-details-accordions > .accordion-block > .accordion-body {
    background-color: rgba(149, 60, 86, .20);
}
/* END SECTION 7 ACCORDION */
.details-page a.apply {
	padding-right: 40px;
}
.details-page a.apply:after {
	background-color: #d0cfd3;
	height: 12px;
	width: 12px;
}
#content-approval .footer-image {
	margin-top: calc(100% - 145px);
}
#search .bg-image img, #search-result .bg-image img {
	position: absolute;
    right: 100%;
	bottom: 0;
	margin-right: -50px;
}
#search .content-wrapper [class*="col-"] {
	min-height: 550px;
}
.search-result-block{
	padding-bottom: 40px;
    border-bottom: 1px solid #162f56;
    margin-bottom: 40px;
}
.search-result-block:last-child {
	border-bottom: 0;
}
.content-inner-wrapper {
	height: 100%;
}
.message .content {
	padding: 90px 75px;
    height: 100%;
}
.message h1 {
	font-size: 10em;
}
.message img {
	bottom: 0;
}
.message .back-btn {
	right: initial;
	top: initial;
	display: inline-block;
}
#session-choice .content-wrapper {
	min-height: 800px;
}
#session-choice .bg-image.right img,
#session-choice .bg-image.left img,
#shopping-cart .bg-image.left img,
#shopping-cart .bg-image.right img{
	position: absolute;
}
#session-choice .bg-image.left img,
#shopping-cart .bg-image.left img{
    right: 100%;
    bottom: 85px;
    margin-right: -320px;
}
#session-choice .bg-image.right img,
#shopping-cart .bg-image.right img{
	left: 100%;
	bottom: 0;
	margin-left: -190px;
}
.session-available{
	max-width: 185px;
    padding: 25px 20px;
    background-color: #d0cfd3;
    position: absolute;
    width: 100%;
    right: 100%;
    margin-right: 30px;
}
.font-large .session-available {
	max-width: 230px;
}
.session-list li {
	font-size: .75em;
	display: inline-block;
	width: 25%;
	vertical-align: top;
	padding: 0 5px;
	margin-bottom: 20px;
	margin-right: -4px;
}
.session-list li label {
	display: block;
}
.session-list li label > div {
	background-color: #d0cfd3;
	padding: 8px 15px;
	min-height: 90px;
}
.session-list li.has-error label > div {
	border: 1px solid #e95c5a;
}
.session-list li.exemption {
	width: 100%;
	margin-top: 15px;
}
.session-list li label > div p {
	line-height: 1.3;
}
.session-list li label > div p:first-child {
	margin-bottom: 10px;
}
.session-list li label > div p:not(:first-child) {
	margin-bottom: 0;
}
.custom-radio [type="radio"], .custom-checkbox [type="checkbox"]{
	display: none;
}
.custom-radio label p.radio {
	margin-bottom: 5px;
}
.custom-checkbox label p.checkbox {
	position: relative;
	padding-left: 30px;
}
.custom-checkbox label p.checkbox
.custom-radio label p.radio span:first-child,
.custom-checkbox label p.checkbox span.check{
	display: inline-block;
    background-color: #d0cfd3;
    border-radius: 50%;
	padding: 2px;
}
.custom-checkbox label p.checkbox span.check {
	position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.custom-checkbox.check-right label p.checkbox {
	padding-left: 0;
	padding-right: 30px;
}
.custom-checkbox.check-right label p.checkbox span.check  {
	left: initial;
	right: 0;
}
.custom-radio label p.radio span:first-child:before,
.custom-checkbox label p.checkbox span.check:before {
	content: '';
    width: 14px;
    height: 14px;
    display: block;
    background-color: #d0cfd3;
    border-radius: 50%;
}

.custom-radio input[type="radio"]:checked + label p.radio span:before,
.custom-checkbox input[type="checkbox"]:checked + label p.checkbox span.check:before{
	background-color: #152e54;
}
.custom-radio label.waiting > div{
	background-color: #e95c5a;
	color: #FFFFFF;
}
.custom-radio label.waiting > div p {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 0;
}
.custom-radio.default label p {
	position: relative;
}
.custom-radio.default label p {
	padding-left: 30px;
	font-size: 16px;
}
.custom-radio.default label p.radio span:first-child {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.session-choice-list .accordion-title {
	padding-right: 25px;
}
.session-choice-list .accordion-title:after{
	right: 0;
    top: 15px;
}
.session-choice-list  .accordion-title[aria-expanded="true"]:after{
	border-top-color: #162f55;
}
.error-message {
	display: none;
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(233, 92, 90, .9);
    z-index: 10;
}
body.has-error {
	overflow: hidden;
}
.has-error .error-message {
	display: block;
}
.error-message div {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}
.error-message p {
	font-size: 3.75em;
	line-height: 1;
}
#personal-details .content-wrapper {
	padding-bottom: 0;
}
.cart-list .item:not(:last-child) {
	margin-bottom: 35px;
}
.item-conflict{
	margin-left: 40px;
	margin-bottom: 0;
	padding-left: 25px;
	position: relative;
	max-width: 325px;
}
.programme-block .content {
	padding-top: 25px;
	padding-bottom: 25px;
}
.cart-list .accordion-title {
	font-size: 1em;
}
.cart-list .programme-block .accordion-title:after{
	position: initial;
    right: initial;
    top: initial;
    transform: initial;
    display: inline-block;
	margin-left: 5px;
	border-top: 8px solid transparent;
    border-left: 12px solid #162f56;
    border-bottom: 8px solid transparent;
}
.programme-block .accordion-title[aria-expanded="true"] {
	background-color: transparent;
	color: #162f56;
}
.cart-list .programme-block .accordion-title[aria-expanded="true"]:after{
	border-right: 8px solid transparent;
    border-top: 12px solid #162f56;
    border-left: 8px solid transparent;
    border-bottom: none;
}
.checkout-wrapper {
	margin-top: -30px;
}
.left-arrow {
	position: relative;
	padding-right: 20px;
}
.left-arrow:after {
	content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-left: 12px solid #162f56;
    border-bottom: 8px solid transparent;
}
.faq-block {
    margin-bottom: 35px;
}
.custom-checkbox label[for="interested-apply"] p.checkbox {
	padding-right: 45px;
}
.custom-checkbox label[for="interested-apply"] p.checkbox span.check:before {
	width: 8px;
    height: 8px;
}
/* .custom-checkbox input[type="checkbox"]:checked + label[for="interested-apply"] p.checkbox span.check:before {
	background-color: #e95c5a;
} */
.cookie-banner {
	display: none;
	position: relative;
	z-index: 20;
	/* position: fixed; */
	width: 100%;
	/* max-width: 1200px; */
    /* left: 0; */
    /* right: 0; */
    /* top: 10px; */
    /* bottom: 10px; */
    /* z-index: 10; */
	/* margin: 0 auto; */
}
.cookie-banner .cookie-banner-wrapper{
	background-color: #FFFFFF;
    padding: 30px;
}
.cookie-banner.show {
	display: block;
}
.cookie-banner p {
	line-height: 1.1;
	font-size: 1.25em;
}
.cookie-banner button{
	font-size: 1em;
	margin-top: 10px;
    background-color: #162f56;
    color: #FFFFFF;
}
.loading {
	display: none;
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(22, 47, 86, .7);
    z-index: 10;
}
.loading.show {
	display: block;
}
.loading > div {
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.loading h1{
	text-transform: uppercase;
	font-size: 60px;
    margin-bottom: 15px;
}
.loading h1, .loading p {
	line-height: 1;
}
.loading .icons span {
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #FFFFFF;
	border-radius: 50%;
	font-size: 0;
	margin: 0px .5px;
}
/* FORMS */
.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="date"],
.form select, .form textarea {
	text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    border: 0;
    background-color: #d8dce2;
    padding: 14.5px 15px;
	height: auto;
	border-radius: 0;
}
textarea {
	resize: none;
}
.form label{
	color: #7ac5cd;
	font-weight: 700;
	width: 100%;
	margin-bottom: 5px;
}
.form label div {
	float: left;
}
.form .required {
	padding: 0 5px;
}
.form .form-group{
	margin-bottom: 35px;
	position: relative;
}
.form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #162f56;
	opacity: 1; /* Firefox */
}
.form :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #162f56;
}
.form ::-ms-input-placeholder { /* Microsoft Edge */
	color: #162f56;
}
button, .btn {
	font-size: .75em;
    font-weight: 700;
    padding: 12px;
    min-width: 100px;
    border-radius: 0;
    background-color: #d8dce2;
    border: 0;
    color: #162f56;
}
.content-approval-form {
	max-width: 450px;
}
.search-iput {
	padding-right: 64px;
	border: 1px solid #162f55;
}
.search-iput [type="text"] {
	border: 0;
	width: 100%;
	padding: 20px;
}
.search-iput button {
	min-width: auto;
	right: 0;
	top: 0;
}
.form.personal-details-form input[type="text"], .form.personal-details-form input[type="email"], .form.personal-details-form input[type="number"], .form.personal-details-form input[type="date"], .form.personal-details-form select, .form.personal-details-form textarea{
	font-weight: 400;
}
.personal-details-form .custom-radio.default label p {
	padding-left: 50px
}
.personal-details-form .form-group {
	margin-bottom: 30px;
}
.form #category-impairment .form-group {
	margin-bottom: 10px;
}
.form #category-impairment label {
    text-transform: uppercase;
    color: #162f55;
}
.form-validation-message {
	display: none;
}
.form-validation-message.show {
	display: block;
}
.form .has-error input[type="text"],
.form .has-error input[type="date"],
.form .has-error input[type="number"],
.form .has-error input[type="email"],
.form .has-error select,
.form .has-error textarea {
	border: 1px solid #e95c5a;
}
.form-error-message {
	display: none;
	font-weight: 700;
	float: right;
	/* width: 100%;
	max-width: 380px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
}
.block-error-message label div {
	float: none;
}
.block-error-message .form-error-message{
	width: 100%;
	float: none;
}
.has-error .form-error-message {
	display: block;
}
.form input[type="date"] {
	padding: 12px 15px;
}
.form select{
	padding: 16px 15px;
}
.error-icon,
.form .error-icon{
	padding-left: 25px;
	position: relative;
}
.error-icon:before, .item-conflict:before {
	content: '';
	width: 16px;
	height: 16px;
	display: block;
	background-image: url('../img/error-icon.png');
	background-size: contain;
	position: absolute;
	left: 0;
	top: 2px;
}
.error-icon:before {
	top: 50%;
	transform: translateY(-50%);
}
/* FOOTER */
footer.footer {
	padding-top: 30px;
	padding-bottom: 30px;
}
ul.footer-navigation {
	padding: 0;
	list-style: none;
}
ul.footer-navigation li{
	display: inline-block;
	margin-right: 20px;
}
ul.footer-navigation li a{
	font-size: 0.75em;
	color: #172e55;
	font-weight: 300;
}
.white ul.footer-navigation li a {
	color: #FFFFFF;
}

/* UTILITY */
.mb-0 {
	margin-bottom: 0;	
}
.mb-5-c {
	margin-bottom: 5px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-35 {
	margin-bottom: 35px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-60 {
	margin-bottom: 60px;
}
.mb-80 {
	margin-bottom: 80px;
}
.mb-100 {
	margin-bottom: 100px;
}
.mb-150 {
	margin-bottom: 150px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-25 {
	margin-top: 25px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-60 {
	margin-top: 60px;
}
.mt-70 {
	margin-top: 70px;
}
.mr-5-c {
	margin-right: 5px;
}
.mr-15 {
	margin-right: 15px;
}
.mr-50 {
	margin-right: 50px;
}
.mr-70 {
	margin-right: 70px;
}
.p-rel {
	position: relative;
}


/* RESPONSIVE */
@media (max-width: 1400px) {
	.session-available {
		right: 180px;
    	top: -85px;
	}
}
@media (max-width: 1024px) {
	body > .container {
		padding-left: 0;
		padding-right: 0;
		max-width: 100%;
	}
	header, footer {
		padding-left: 25px;
		padding-right: 25px;
	}
	header {
		margin-bottom: 15px !important;
	}
	#home .img-2, #home .img-3 {
		display: none;
	}
	#guide > .container {
		padding-bottom: 350px;
	}
	#guide .bg-image {
		height: 345px;
		width: 300px;
		right: 0;
		bottom: 0;
	}
	#search .bg-image, #search-result .bg-image{
		text-align: right
	}
	#search .bg-image img,
	#search-result .bg-image img,
	#session-choice .bg-image.left img,
	#shopping-cart .bg-image.left img{
		position: initial;
	}
	#session-choice .bg-image.right img {
		display: none;
	}
	#session-choice .bg-image.left img,
	#shopping-cart .bg-image.left img {
		width: 1030px;
	}
	#shopping-cart .bg-image.right img {
		width: 680px;
		top: 220px;
		bottom: initial;
		left: -200px;
		margin-left: 0;
	}
	.cookie-banner {
		padding: 15px;
	}
}
@media (max-width: 991px) {
	.session-available{
		right: 140px;
	}
	.item-conflict, .item button {
		float: none !important;
	}
	.item-conflict {
		margin-left: 0;
		margin-top: 5px;
	}
	#content-approval .footer-image {
		margin-top: 50px;
	}
	#contact-us .footer-img{
		margin-bottom: -40px;
	}
	.remove-mr-md {
		margin-right: 0;
	}
}
@media (max-width: 810px) {
	.message .content {
		padding: 45px 30px;
	}
	.message h1 {
		font-size: 8em;
		word-break: break-all;
		line-height: 1;
	}
	.message h3{
		font-size: 1.5em;
	}
	.message img {
		max-width: 240px;
	}
}
@media (max-width: 800px) {
	.message .content {
		padding: 45px 30px;
	}
	.message h1 {
		font-size: 8em;
		word-break: break-all;
		line-height: 1;
	}
	.message h3{
		font-size: 1.5em;
	}
	.message img {
		max-width: 240px;
	}
}
@media (max-width: 767px) {
	#login .left-side {
		height: 460px;
	}
	#login .right-side {
		padding-bottom: 80px;
	}
	.message .content {
		padding: 45px 30px;
	}
	.message h1 {
		font-size: 8em;
	}
	.message h3{
		font-size: 1.5em;
	}
	.message img {
		max-width: 240px;
	}
	.section-no {
		position: initial;
		font-size: 250px;
		margin-bottom: 60px;
	}
	.section-content .content-wrapper [class*="col-"].content {
		margin-bottom: 80px;
	}
	.section-content .section-img {
		position: initial;
	}
	#section-1 .section-img {
		margin-bottom: -60px;
	}
	.session-list li {
		width: 50%;
	}
	.home-links .bg-8 span.link {
		margin-top: 50px;
	}
	.cookie-banner button {
		margin-top: 30px;
	}
	#section-2 .section-img, #section-4 .section-img, #section-6 .section-img {
		margin-bottom: -60px;
	}
}
@media (max-width: 760px) {
	.session-available {
		right: 130px;
	}
}
@media (max-width: 650px) {
	.message h1 {
		font-size: 7em;
	}
	#home .img-1{
		width: 250px;
		bottom: -100px;
	}
}
@media (max-width: 620px) {
	#shopping-cart .bg-image.right img {
		top: 235px;
		left: -180px;
	}
}
@media (max-width: 575px) {
	.search-btn img, .cart-btn img {
		max-width: 35px;
	}
	.font-size-changer {
		margin-bottom: 15px;
	}
	.font-size-changer .small {
		font-size: 12px !important;
	}
	.font-size-changer .default {
		font-size: 14px !important;
	}
	.font-size-changer .large {
		font-size: 17px !important;
	}
	.cart-btn span.count {
		font-size: 12px;
	}
	/* .right-menu {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.breadcrumb-wrapper {
		margin-top: 35px;
	} */
	#home .img-1{
		/* width: 240px;
		left: 25px;
		margin: 0;
		bottom: -80px; */
		width: 200px;
    	bottom: -80px;
	}
	.module-block [class="col-sm-4"] {
		padding-left: 0;
		padding-right: 0;
	}
	.programme-block .remove {
		margin-top: 30px;
	}
	#shopping-cart a.left-arrow{
		margin-top: 20px;
	}
	#shopping-cart .item-title {
		margin-bottom: 20px;
	}
	#shopping-cart .bg-image.right img {
		top: 320px;
		left: -190px;
	}
	.checkout-wrapper {
		margin-top: 40px;
	}
	body {
		font-size: 14px;
	}
	body.font-small {
		font-size: 12px;
	}
	body.font-large {
		font-size: 16px;
	}
	.home-links .box {
		min-height: 195px;
	}
	.home-links .box span.no {
		font-size: 160px;
	}
	.home-links .bg-1 span.no {
		bottom: -25px;
		left: -30px;
	}
	.home-links .bg-2 span.no {
		top: -20px;
    	left: -20px;
	}
	.home-links .bg-3 span.no {
		right: -15px;
		bottom: -25px;
	}
	.home-links .bg-4 span.no {
		bottom: -25px;
	}
	.home-links .bg-5 span.no {
		top: -10px;
		left: -45px;
	}
	.home-links .bg-6 span.no {
		top: -20px;
		left: -30px;
	}
	.home-links .bg-7 span.no {
		bottom: -25px;
	}
	.home-links .box.bg-3 span.text {
		max-width: 130px;
	}
	.home-links .box.bg-4 span.text,
	.home-links .box.bg-5 span.text,
	.home-links .box.bg-6 span.text,
	.home-links .box.bg-7 span.text {
		max-width: 110px;
	}
	.message h1 {
		font-size: 6em;
	}
}
@media (max-width: 450px) {
	header, footer {
		padding-left: 15px;
		padding-right: 15px;
	}
	.font-size-changer .small {
		font-size: 11px !important;
	}
	.font-size-changer .default {
		font-size: 13px !important;
	}
	.font-size-changer .large {
		font-size: 16px !important;
	}
	.message h1 {
		font-size: 4em;
	}
	/* .breadcrumb-wrapper {
		margin-top: 35px;
	} */
	#home .img-1{
		width: 150px;
		bottom: -55px;
	}
	.site-logo img {
		max-width: 160px;
	}
	.title-section {
    	min-height: auto;
    	padding-bottom: 60px;
	}
	.title-section h1 {
		position: initial;
	}
	.title-section a.back-btn {
		position: absolute;
		bottom: 0;
		top: initial;
		right: 30px;
	}
	.form label div, .form-error-message {
		float: none;
	}
	.loading h1 {
		font-size: 45px;
	}
	.search-btn img, .cart-btn img {
		max-width: 30px;
	}
	.right-menu {
		margin-top: 5px;
	}
	.details-accordions > .accordion-block .accordion-title {
		padding-right: 50px;
	}
	.details-accordions > .accordion-block .accordion-title:after {
		right: 30px;
	}
}
@media (max-width: 390px) {
	#home .img-1 {
		/* width: 175px; */
		display: none;
	}
}
@media (max-width: 375px) {
	/* #home .img-1 {
		width: 150px;
		bottom: -45px;
	} */
	.site-logo img {
		max-width: 120px;
	}
}
@media (max-width: 330px) {
	#home .img-1 {
		width: 145px;
		left: 10px;
	}
}
