body{
    /* margin-top: 75px; */
	background-color: #f0e6e0;
	font-size: 100%;
}
header{
	position: relative;
}
a{
	color: #162f56;
}
a:hover{
	text-decoration: none;
}
/* .site-logo img{
    max-width: 200px;
    height: auto;
} */
.home{
    background-image: url('img/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.content-wrapper{
    /* max-width: 900.2px;
    width: 100%;
    margin: 0 auto; */
}
.inner-btns{
	margin-top: 75px;
	margin-bottom: 20px;
}
/* .search-btn img,
.cart-btn img{
    max-width: 30px;
} */
.grid-navigation{
	display: -ms-grid;
	display: grid;
	grid-gap: 0;
	-ms-grid-columns: 1fr 0 1fr 0 1fr 0 1fr;
	grid-template-columns: repeat(4, 1fr);
	-ms-grid-rows: 33.33% 0 33.33% 0 33.33%;
	grid-template-rows: repeat(3,33.33%);
	min-height: 600px;
}
.grid-navigation > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.grid-navigation > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.grid-navigation > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
.grid-navigation > *:nth-child(4){
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}
.grid-navigation > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.grid-navigation > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.grid-navigation > *:nth-child(7){
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}
.grid-navigation > *:nth-child(8){
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}
.grid-navigation > *:nth-child(9){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}
.grid-navigation > *:nth-child(10){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}
.grid-navigation > *:nth-child(11){
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}
.grid-navigation > *:nth-child(12){
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}
.box{
	/* margin: 0;
	padding: 0; */
}
.box:hover {
    /* background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay; */
}
.one{
	-ms-grid-column: 1;
	grid-column: 1;
	-ms-grid-row: 1;
	grid-row: 1;
	background-image: url('img/BG-01.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	/* padding: 10px 50px 10px 10px; */
}
.two{
	-ms-grid-column: 2;
	grid-column: 2;
	-ms-grid-row: 1;
	grid-row: 1;
	background-image: url('img/BG-02.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}
.three{
	-ms-grid-column: 3;
	-ms-grid-column-span: 2;
	grid-column: 3/5;
	-ms-grid-row: 1;
	grid-row: 1;
	background-image: url('img/BG-03.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.four{
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1/3;
	-ms-grid-row: 2;
	grid-row: 2;
	background-image: url('img/BG-04.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.five{
	-ms-grid-column: 3;
	grid-column: 3;
	-ms-grid-row: 2;
	grid-row: 2;
	background-image: url('img/BG-05.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.guide{
	/* grid-area: 2 / col4-start / last-line / 4; */
	-ms-grid-row: 2;
	    grid-row-start: 2;
	-ms-grid-row-span: 2;
	grid-row-end: 4;
	-ms-grid-column: 4;
	    grid-column-start: 4;
	-ms-grid-column-span: NaN;
	grid-column-end: col4-start;
	background-image: url('img/guide.jpg');
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
}
.six{
	-ms-grid-column: 1;
	grid-column: 1;
	-ms-grid-row: 3;
	grid-row: 3;
	background-image: url('img/BG-06.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.seven{
	-ms-grid-column: 2;
	-ms-grid-column-span: 2;
	grid-column: 2/4;
    -ms-grid-row: 3;
    grid-row: 3;
	background-image: url('img/BG-07.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.box-title {
    color: #fff;
    font-size: 0.875em;
    font-weight: 500;
	margin: 0;
}
.title-link{
	width: 100%;
	height: 100%;
	display: block;
	line-height: 1.1;	
	padding: 10px;
}
.one .title-link{
	padding: 10px 50px 10px 10px;
}
.two .title-link{
	display: -webkit-box;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: end;
            justify-content: flex-end;
    padding: 0 10px 10px 10px;
}
.five .title-link,
.six .title-link{
	display: -webkit-box;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: end;
            justify-content: flex-end;
    padding: 0 10px 10px 10px;
}
ul.footer-navigation{
	padding: 0;
}
ul.footer-navigation li{
	display: inline-block;
	margin-right: 20px;
}
/* ul.footer-navigation li a{
	font-size: 0.75em;
	color: #172e55;
} */
.login{
	margin: 0;
}
.login-bg,.login-sidebar{
	height: 100vh;
}
.login-sidebar{
	background-color: #162f55;
	padding: 0 60px;
}
.login-bg::before {
    content: '';
    background-repeat: no-repeat;
    background-image: url('img/login-bg.jpg');
	background-size: cover;
	background-position: bottom;
    position: absolute;
    width: 100%;
    height: inherit;
    bottom: 0;
	left: 0;
	z-index:-1;
}
.login-bg .site-logo {
	position: relative;
    top: 70px;
    right: 90px;
}
.login-sidebar h1,
.login-sidebar h5,
.login-sidebar p,
.accounts-list li a{
	color: #fff;
	font-weight: 400;
}
.login-sidebar h1,
.login-sidebar h5,
.accounts-list{
	/* padding-top: 70px; */
}
div.breadcrumbs{
	/* position: absolute;
    right: 0;
    bottom: 12px; */
}
.breadcrumbs p {
    font-weight: 700;
    font-size: 0.875em;
}
#cookie-policy-contents{
	padding: 0px 100px;
	background-color: #fff;
}
#cookie-policy-contents p,
#cookie-policy-contents h6,
#cookie-policy-contents a{
	color: #162f56;
}
#cookie-policy-contents p{
	margin-bottom: 40px;
}
#cookie-policy-contents a.back-btn{
	position: relative;
    top: 20px;
    left: 50px;
    float: right;
}
#cookie-policy-contents a.back-btn::before{
	content: '';
	position:absolute;
	left: -40px;
    border-top: 13px solid transparent;
    border-right: 25px solid #162f56;
    border-bottom: 13px solid transparent;
}
.cookie-img{
	max-width: 325px;
    position: relative;
    left: -115px;
    margin-bottom: 70px;
}
.textcontrols{
	position: absolute;
	right: 0;
	top: -55px;
}
.textcontrols button{
	background-color: transparent;
	padding: 0;
	border: 0;
	font-weight: 600;
	color: #5b6b84;
}
#decreasetext{
	font-size: 0.75em;
}
#resettext{
	font-size: 0.875em;
}
#increasetext{
	font-size: 1em;
}
/* #personal-details input,
#personal-details select{
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    border: 0;
    background-color: #d8dce2;
    padding: 14.5px 15px;
    height: auto;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
#personal-details input::placeholder,
#personal-details select{
	color: #162f56;
	text-transform: uppercase;
}
#personal-details label{
	color: #7ac5cd;
}
#personal-details label.custom-control-label {
    color: #162f55;
    padding-left: 40px;
}
#personal-details .content-wrapper{
	padding-bottom: 20px;
}
#personal-details .btn-primary {
    min-width: 75px;
}
#personal-details .title-section h1{
	left: -5px;
} */
.disclaimer-title{
	font-weight: 700;
}
.disclaimer-title,
.disclaimer-text{
	font-size:0.75em;
}
input.impairment{
	vertical-align: middle;
	margin-right: 40px;
}
div#category-impairment label {
    text-transform: uppercase;
    color: #162f55;
}
#personal-details label .required {
    margin-left: 5px;
}

/** RESPONSIVENESS **/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-nth-child(1)pixel-ratio: 2)
  and (orientation: portrait) {
	  .home{
		background-image: url('img/home-bg-mobile-s.png');
		background-size: contain;
	}
	  ul.footer-navigation{
		padding: 20px 25px;
	}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
	.home{
		background-image: url('img/home-bg-mobile-x.png');
		background-size: contain;
	}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
	.home{
		background-image: url('img/home-bg-mobile-x.png');
		background-size: contain;
	}
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
	.home{
		background-image: url('img/home-bg-mobile-x.png');
		background-size: contain;
	}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2){
	.home{
		background-image: url('img/home-bg-tablet.png');
		background-position: 50px 0;
	}
	ul.footer-navigation {
		padding: 20px 40px;
		margin-top: 50px;
	}
	.cookie-img{
		left: -100px;
	}
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2){
	.home{
		background-image: url('img/home-bg-tablet.png');
		background-position: 35px -70px;
	}
	.content-wrapper{
		max-width: 100%;
	}
	footer{
		position: absolute;
		bottom: 0;
	}
	body#cookie-policy footer {
		position: unset;
	}
	ul.footer-navigation{
		padding: 50px;
	}
	.grid-navigation{
		-ms-grid-rows: 40.33% 0 40.33% 0 40.33%;
		grid-template-rows: repeat(3,40.33%);
		min-height: 800px;
	}
}


@media (max-width: 600px){
	.grid-navigation{
		-ms-grid-columns: 1fr 0 1fr;
		grid-template-columns: repeat(2,1fr);
		-ms-grid-rows: 200px 0 200px 0 200px 0 200px 0 200px 0 200px;
		grid-template-rows: repeat(6,200px);
	}
	.grid-navigation > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
	}
	.grid-navigation > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 3;
	}
	.grid-navigation > *:nth-child(3){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
	}
	.grid-navigation > *:nth-child(4){
        -ms-grid-row: 3;
        -ms-grid-column: 3;
	}
	.grid-navigation > *:nth-child(5){
        -ms-grid-row: 5;
        -ms-grid-column: 1;
	}
	.grid-navigation > *:nth-child(6){
        -ms-grid-row: 5;
        -ms-grid-column: 3;
	}
	.grid-navigation > *:nth-child(7){
        -ms-grid-row: 7;
        -ms-grid-column: 1;
	}
	.grid-navigation > *:nth-child(8){
        -ms-grid-row: 7;
        -ms-grid-column: 3;
	}
	.grid-navigation > *:nth-child(9){
        -ms-grid-row: 9;
        -ms-grid-column: 1;
	}
	.grid-navigation > *:nth-child(10){
        -ms-grid-row: 9;
        -ms-grid-column: 3;
	}
	.grid-navigation > *:nth-child(11){
        -ms-grid-row: 11;
        -ms-grid-column: 1;
	}
	.grid-navigation > *:nth-child(12){
        -ms-grid-row: 11;
        -ms-grid-column: 3;
	}
	.one{
		-ms-grid-column: 1;
		grid-column: 1;
		-ms-grid-row: 1;
		grid-row: 1;
	}
	.two{
		-ms-grid-column: 2;
		grid-column: 2;
		-ms-grid-row: 1;
		grid-row: 1;
	}
	.three{
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1/3;
		-ms-grid-row: 2;
		grid-row: 2;
		background-position: right;
	}
	.four{
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1/3;
		-ms-grid-row: 3;
		grid-row: 3;
		background-position: center;
	}
	.five{
		-ms-grid-column: 1;
		grid-column: 1;
		-ms-grid-row: 4;
		grid-row: 4;
	}
	.six{
		-ms-grid-column: 2;
		grid-column: 2;
		-ms-grid-row: 4;
		grid-row: 4;
	}
	.seven{
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1/3;
		-ms-grid-row: 5;
		grid-row: 5;
	}
	.guide{
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1/3;
		-ms-grid-row: 6;
		grid-row: 6;
		background-image: url('img/guide-2.jpg');
		background-position: right;
	}
	ul.footer-navigation{
		margin-top: 20px;
	}
	body{
		margin-top: 45px;
	}
	.site-logo.text-left{
		padding-left: 30px;
	}
	.inner-btns{
		margin-top: 45px;
	}
	.search-btn img,
	.cart-btn img{
		max-width: 25px;
	}
	.site-logo.text-right{
		padding-bottom: 30px;
		padding-right: 20px;
		margin-bottom: 30px;
	}
	.site-logo .site-logo-img{
		max-width: 120px;
	}
	.box-title{
		font-size: 0.75em;
	}
	.cookie-img{
		left: -100px;
	}
	#cookie-policy-contents{
		padding: 0 20px;
	}
	#cookie-policy-contents a.back-btn{
		top: 0;
		left: 0;
		margin-bottom: 50px;
	}
	div.breadcrumbs{
		right: 20px;
	}
}
@media (max-width: 420px){
	.cookie-img{
		left: -20px;
	}
}